html {
  box-sizing: border-box;
}

*,
*::before,
*::after {
  box-sizing: inherit;
}

body {
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto,
    Oxygen-Sans, Ubuntu, Cantarell, 'Helvetica Neue', sans-serif,
    'Apple Color Emoji', 'Segoe UI Emoji', 'Segoe UI Symbol';
  background-color: rgb(141, 212, 212);
}

#timer-1 {
  position: relative;
  left: 50%;
  transform: translateX(-50%);
  width: fit-content;
}

#timer-1 .field {
  display: inline-block;
  padding: 1em;
  text-align: center;
}

#timer-1 .value {
  font-size: 7em;
}

#timer-1 .label {
  display: inline-block;
  margin: 0;
  padding: 0;
}
